@page "{name}"
@model CityBreaks.Web.Pages.CityDetailsModel

<h2>Cidade: @Model.City.Name</h2>
<p class="fs-4">País: @Model.City.Country.CountryName</p>

<h4>Propriedades:</h4>
<ul>
    @foreach (var prop in Model.City.Properties)
    {
        <li>@prop.Name – R$ @prop.PricePerNight</li>
    }
</ul>

<div class="d-flex flex-row align-items-center gap-5">
    <a asp-page="/CreateProperty">Nova Propriedade</a>

    <a asp-page="/Index">Voltar</a>
</div>
